body { 
    background-color: black; 
}


div.fontandfamilies {
    color: white;
    font-family: 20px;
    text-align: left;
    margin-top: 20px;
}

div.lists{ 
    color: white;
    font-family: 20px;
    text-align: left;
    margin-top: 20px;
}

div.htmlparams {

    color: white;
    font-family: 20px;
    text-align: left;
    margin-top: 20px;
}

div.anchors { 

    color: white;
    font-family: 20px;
    text-align: left;
    margin-top: 20px;
}


div.title{

    color: white;       
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}




/* background-image:url('x.png'); */ 

/*text-decoration for underlines, etc */ 

/*text-transform: uppercase/etc */ 

/*indentation -> text-indent: */

/* padding and margin all have top bottom, etc */ 
